/* styles.css */

/* Light Theme */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.card.light-theme,
.jumbotron.light-theme {
    background-color: #f8f9fa;
    color: #000000;
}

/* Dark Theme */
body.dark-theme {
    background-color: #343a40;
    color: #000000; /* Keep the text color black */
}

.card.dark-theme,
.jumbotron.dark-theme {
    background-color: #495057;
    color: #000000; /* Keep the text color black */
}

/* Override text color in dark theme for buttons or other text elements */
body.dark-theme .btn, 
body.dark-theme .card-title, 
body.dark-theme .card-text {
    color: #000000;
}

/* Toggle Button Styling */
#theme-toggle {
    margin: 10px 0;
}
